 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>
                    Lorem ipsun donate.
                </h4>
                <p>
                    <a href="#">
                        <span class="glyphicon glyphicon-info-sign">
                        </span>Hakkımızda
                    </a><br />

                    <a href="#">
                        <span class="glyphicon glyphicon-star"></span> En Beğenilenler
                    </a><br />
                    <a href="#">
                        <span class="glyphicon glyphicon-th-list"></span> Son Yazılar
                    </a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>Lorem ipsun donate.</strong>
                </h4>
                <p>
                    Copyright &copy;<br />
                    My Evernote @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>
                    <strong>E-Bülten Üyeliği.</strong>
                </h4>
                <div class="col-md-10 col-lg-offset-1">
                    <p>
                        E-mail'nizi girerek kayıt olabilirsiniz.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
